
/*Colors
Dark : #182035
DarkBlue: #152242
Blue Font and  Button: #0F7FFF;
Gray Paragraph Text:
Card price bg: #0d162c */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #182035;
    min-width: 100vh;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.herotitle {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: .5em 0em;
}

.herotitle-emphasize {
    color: #0F7FFF;
}

.herotext {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: gray;
}


/*cards Css left and right */

.row {
    display: flex;
    margin: 0 auto;
    padding: 2em 0em;
}


.col {
    width: 30%;
}

.col-container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.col-container-box-left {
    border: 2px solid;
    border-color: gray;
    border-radius: 5px;
    border-right: none;
    border-left: 2px solid gray;
}

.col-container-box-right {
    border: 2px solid;
    border-color: gray;
    border-radius: 5px;
    border-left: none;
    border-right: 2px solid gray;
}



.content1 {
    background-color: #0d162c;
    padding: 2em 2em;
}


.content1 h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: gray;
    text-align: center;
}

.price {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.price::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f156";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 20px;
}

.price::after {
    content: '/month';
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 15px;
    color: gray;

}

.content2 {
    background-color: #152242;
    padding: 1.5em 2em;
}

.content2-container {
    display: flex;
    align-items: center;
    padding: .3em 0em;
}

.fa {
    color: green;
}

.content-text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    color: gray;
}

.btncontainer {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    /* border: 3px solid green; */
}

.btn-gray {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    padding: .5em 3em;
    background-color: grey;
    width: 100%; 
}

/*Css Card in center */

.col-center {
    width: 40%;
    border: 3px solid;
    border-color: #0F7FFF;
    border-radius: 5px;
}

.col-center::before {
    content:'MOST POPULAR';
    font-family: "Poppins", sans-serif;
    font-size: .75rem;
    color: #fff;
    background-color: #0F7FFF;
    padding: .5em 2em;
    border-radius: 20px; 
    display: block;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    margin-top: -18px;
}


.col-center {
    background-color: #0d162c;
}

.content1-center {
    padding: 1em 2em;
}

.content1-center-text {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: gray;
    text-align: center;
}

.centerprice {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.content2-center {
    background-color: #152242;
    padding: 3em 2em;
}

.content2-center-container {
    display: flex;
    align-items: center;
    padding: .3em 0em;
}

.content-text-center {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
    color: #fff;
}

.btn-center-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2em 0em;
    /* border: 3px solid green; */
}

.btn-blue {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    padding: .75em 3em;
    background-color: #0F7FFF;
    width: 100%; 
}

.centerprice::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f156";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 20px;
}

.centerprice::after {
    content: '/month';
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 15px;
    color: gray;

}

/*Accordion starts here */

.accordion {
    max-width: 80%;

}

.accordionbox {
    position: relative;
    margin: 10px 20px;
}

.accordionlabel {
    position: relative;
    padding: 10px;
    background: #0d162c;
    color: #fff;
    cursor: pointer;
}

.accordionlabel::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordioncontent {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordionbox.active .accordioncontent {
    height: 150px;
    padding: 10px;
}




